@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(222, 222, 222);
  --text-color: rgb(36, 36, 36);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(36, 36, 36);
    --text-color: rgb(222, 222, 222);
  }
}

body {
  background-color: rgb(var(--foreground-rgb));
  color: rgb(var(--text-color));
}
